{% include head.html %}
<body>

  {% include navigation.html %}

  <div class="section hero">
    <div class="wrapper_bg-blur">
      <div class="blur-blob-1"></div>
      <div class="blur-blob-2"></div>
    </div>
    <div class="div_container">
      <div class="div_publish-date">
        <div class="txt_meta-info">{{ post.date | date: "%m/%d/%Y" }}</div>
      </div>
      <h1 class="h1_display">{{ page.title }}</h1>
      <p class="p_intro">{{ page.description }}</p>
    </div>
  </div>
  <div class="section">
    <div class="div_container">
      <div class="rich-text w-richtext">

        {{ content }}

      </div>
    </div>
  </div>
  <div>
    <div class="container-1200"></div>
  </div>
  <div class="div_progress-indicator-wrapper">
    <div id="myBar" class="div_progress-indicator"></div>
  </div>

  {% include footer.html %}

</body>
